.our-menu {
	margin-bottom: 40px;
}

.main-one {
	background-color: #f8f8f8;
	padding: 40px;
	margin-bottom: 40px;
}

.navbar-nav li {
	border-bottom: 1px solid #666;
}

@media only screen and (min-width: 786px) {
	.navbar-nav {
		display: none;
	}
}
